{% extends "base.html" %}

{% block content %}
  <h1>Auxdio Home</h1>
  <p>
    Welcome to Auxdio, a website developed by
    <em>Arthur O'Leary + Des Ryan</em>!
  </p>
  <h2>Audio book compilation</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
{% endblock %}
